/*Colors*/
$colorCustom1: rgba(13,47,72,1);
$colorCustom2: #024965;
$colorCustom3: #42B9F3;
$colorCustom4: #0B577B;
$colorCustom5: rgba(255,255,255,0.4);
$colorCustom6: rgba(255,255,255,1);
$colorCustom7: #f2f2f2;
$colorCustom8: #434343;

/*Fonts*/
$customFont1: 'Varela Round', sans-serif;
$customFont2: 'Cutive Mono';
$pFontSize: 14px;




