body {
  background: $colorCustom1;
  color: $colorCustom6;
}
header {
  background: url('../images/header.jpg') no-repeat center;
  min-height: 116px;
  margin-bottom: 40px;
  h1 {
    @include text(34px $customFont1, $colorCustom6, 26px, center, 0, 20px);
  }
  h4 {
    @include text(16px $customFont1, $colorCustom6, 20px, center, 0, 0);
  }
}
.header-with-top-stripes {
  padding: 10px 0;
  position: relative;
  border-top: 4px solid #bc5252;
  border-bottom: 1px solid #3f6d7c;
  background: rgb(13,47,72);
  background: -moz-linear-gradient(top, rgba(13,47,72,1) 0%, rgba(1,72,100,1) 100%);
  background: -webkit-linear-gradient(top, rgba(13,47,72,1) 0%,rgba(1,72,100,1) 100%);
  background: linear-gradient(to bottom, rgba(13,47,72,1) 0%,rgba(1,72,100,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2f48', endColorstr='#014864',GradientType=0 );
  img {
    display: block;
    margin: 0 auto;
    max-width: 60px;
  }
}